RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=change-me
RABBITMQ_VIRTUAL_HOST=/
RABBITMQ_PROCESSING_QUEUE=consultation.processing
RABBITMQ_HEARTBEAT_SECONDS=60
RABBITMQ_BLOCKED_CONNECTION_TIMEOUT_SECONDS=300
RABBITMQ_CONNECTION_ATTEMPTS=3
RABBITMQ_CONNECTION_RETRY_DELAY_SECONDS=5
RABBITMQ_RECONNECT_DELAY_SECONDS=5

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=Telemedicine_Indexer
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=change-me

FILE_STORAGE_ROOT=../storage/consultations

WHISPER_MODEL_SIZE=small
WHISPER_DEVICE=cpu
WHISPER_COMPUTE_TYPE=int8
