RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=change-me
RABBITMQ_VIRTUAL_HOST=/
RABBITMQ_PROCESSING_QUEUE=consultation.processing

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=Telemedicine_Indexer
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=change-me

FILE_STORAGE_ROOT=C:\path\to\Storage\Consultations